EMAIL_SMTP_SERVER=?
EMAIL_SMTP_PORT=465

EMAIL_USERNAME=mail@example.com
EMAIL_PASSWORD=not-a-real-password-123

EMAIL_FROM=weather-station@example.com
EMAIL_TO=user@example.com

THRESHOLD_CHECK_INTERVAL=3
THRESHOLD_TRIGGER_COOLDOWN=60

REGULAR_MEASURE_INTERVAL=30
LIVE_MEASURE_INTERVAL=1

UI_TIMEZONE=Europe/Berlin